// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar"s source Stylus files. Setting
// variables before Quasar"s Stylus will use these variables rather than
// Quasar"s default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It"s highly recommended to change the default colors
// to match your app"s branding.

$primary   = $xolentum-green
$secondary = $xolentum-black-90
$tertiary  = $xolentum-black-80

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$xolentum-green = linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
$xolentum-green-solid = #4686a0;
$xolentum-green-dark-solid = #336579;

$xolentum-black-90 = #0A0A0A
$xolentum-black-80 = #252525
$xolentum-black-60 = #313131
$xolentum-black-50 = #7E7E7E;
